.twitch {
  background: url( '../images/twitch-emoticons.png' ) no-repeat;
  background-size: 325px 291px;
}

.twitch.BloodTrail {
  width: 41px;
  height: 28px;
  background-position: 0px 0px;
}

.twitch.FrankerZ {
  width: 40px;
  height: 30px;
  background-position: 0px -28px;
}

.twitch.MrDestructoid {
  width: 39px;
  height: 27px;
  background-position: -41px 0px;
}

.twitch.BibleThump {
  width: 36px;
  height: 30px;
  background-position: -41px -27px;
}

.twitch.PJSalt {
  width: 36px;
  height: 30px;
  background-position: -80px 0px;
}

.twitch.RalpherZ {
  width: 33px;
  height: 30px;
  background-position: 0px -58px;
}

.twitch.SMOrc {
  width: 32px;
  height: 32px;
  background-position: -116px 0px;
}

.twitch.DansGame {
  width: 25px;
  height: 32px;
  background-position: -116px -32px;
}

.twitch.MVGame {
  width: 24px;
  height: 32px;
  background-position: 0px -88px;
}

.twitch.BionicBunion {
  width: 30px;
  height: 30px;
  background-position: -33px -58px;
}

.twitch.BrainSlug {
  width: 30px;
  height: 30px;
  background-position: -63px -58px;
}

.twitch.WinWaker {
  width: 30px;
  height: 30px;
  background-position: -24px -88px;
}

.twitch.EvilFetus {
  width: 29px;
  height: 30px;
  background-position: -54px -88px;
}

.twitch.HotPokket {
  width: 28px;
  height: 30px;
  background-position: -83px -88px;
}

.twitch.UnSane {
  width: 28px;
  height: 30px;
  background-position: -111px -88px;
}

.twitch.DatSheffy {
  width: 24px;
  height: 30px;
  background-position: -148px 0px;
}

.twitch.TriHard {
  width: 24px;
  height: 30px;
  background-position: -148px -30px;
}

.twitch.BigBrother {
  width: 24px;
  height: 30px;
  background-position: -148px -60px;
}

.twitch.AsianGlow {
  width: 24px;
  height: 30px;
  background-position: -148px -90px;
}

.twitch.SoBayed {
  width: 24px;
  height: 30px;
  background-position: 0px -120px;
}

.twitch.ShazBotstix {
  width: 24px;
  height: 30px;
  background-position: -24px -120px;
}

.twitch.FUNgineer {
  width: 24px;
  height: 30px;
  background-position: -48px -120px;
}

.twitch.TooSpicy {
  width: 23px;
  height: 30px;
  background-position: -93px -58px;
}

.twitch.PMSTwin {
  width: 23px;
  height: 30px;
  background-position: -72px -120px;
}

.twitch.SoonerLater {
  width: 23px;
  height: 30px;
  background-position: -95px -120px;
}

.twitch.PogChamp {
  width: 23px;
  height: 30px;
  background-position: -118px -120px;
}

.twitch.TF2John {
  width: 22px;
  height: 30px;
  background-position: -141px -120px;
}

.twitch.FailFish {
  width: 22px;
  height: 30px;
  background-position: -172px 0px;
}

.twitch.Poooound {
  width: 21px;
  height: 30px;
  background-position: -172px -30px;
}

.twitch.OpieOP {
  width: 21px;
  height: 30px;
  background-position: -172px -60px;
}

.twitch.Jebaited {
  width: 21px;
  height: 30px;
  background-position: -172px -90px;
}

.twitch.DBstyle {
  width: 21px;
  height: 30px;
  background-position: -172px -120px;
}

.twitch.smiley-15 {
  width: 20px;
  height: 30px;
  background-position: 0px -150px;
}

.twitch.RuleFive {
  width: 20px;
  height: 30px;
  background-position: -20px -150px;
}

.twitch.WholeWheat {
  width: 20px;
  height: 30px;
  background-position: -40px -150px;
}

.twitch.TinyFace {
  width: 19px;
  height: 30px;
  background-position: -60px -150px;
}

.twitch.BORT {
  width: 19px;
  height: 30px;
  background-position: -79px -150px;
}

.twitch.Keepo {
  width: 27px;
  height: 29px;
  background-position: -98px -150px;
}

.twitch.BCWarrior {
  width: 29px;
  height: 27px;
  background-position: -80px -30px;
}

.twitch.wagaCrit {
  width: 28px;
  height: 28px;
  background-position: -125px -150px;
}

.twitch.wagaRosh {
  width: 28px;
  height: 28px;
  background-position: -153px -150px;
}

.twitch.PeoplesChamp {
  width: 28px;
  height: 28px;
  background-position: -194px 0px;
}

.twitch.noScope420 {
  width: 28px;
  height: 28px;
  background-position: -194px -28px;
}

.twitch.SriHead {
  width: 28px;
  height: 28px;
  background-position: -194px -56px;
}

.twitch.DAESuppy {
  width: 28px;
  height: 28px;
  background-position: -194px -84px;
}

.twitch.AtGL {
  width: 28px;
  height: 28px;
  background-position: -194px -112px;
}

.twitch.NightBat {
  width: 28px;
  height: 28px;
  background-position: -194px -140px;
}

.twitch.KAPOW {
  width: 28px;
  height: 28px;
  background-position: 0px -180px;
}

.twitch.AtIvy {
  width: 28px;
  height: 28px;
  background-position: -28px -180px;
}

.twitch.WTRuck {
  width: 28px;
  height: 28px;
  background-position: -56px -180px;
}

.twitch.shazamicon {
  width: 28px;
  height: 28px;
  background-position: -84px -180px;
}

.twitch.MechaSupes {
  width: 28px;
  height: 28px;
  background-position: -112px -180px;
}

.twitch.PJHarley {
  width: 28px;
  height: 28px;
  background-position: -140px -180px;
}

.twitch.GasJoker {
  width: 28px;
  height: 28px;
  background-position: -168px -180px;
}

.twitch.Shazam {
  width: 28px;
  height: 28px;
  background-position: -222px 0px;
}

.twitch.AtWW {
  width: 28px;
  height: 28px;
  background-position: -222px -28px;
}

.twitch.TheThing {
  width: 28px;
  height: 28px;
  background-position: -222px -56px;
}

.twitch.KZskull {
  width: 28px;
  height: 28px;
  background-position: -222px -84px;
}

.twitch.KZowl {
  width: 28px;
  height: 28px;
  background-position: -222px -112px;
}

.twitch.KZhelghast {
  width: 28px;
  height: 28px;
  background-position: -222px -140px;
}

.twitch.KZcover {
  width: 28px;
  height: 28px;
  background-position: -222px -168px;
}

.twitch.KZguerilla {
  width: 28px;
  height: 28px;
  background-position: 0px -208px;
}

.twitch.KZassault {
  width: 28px;
  height: 28px;
  background-position: -28px -208px;
}

.twitch.ResidentSleeper {
  width: 28px;
  height: 28px;
  background-position: -56px -208px;
}

.twitch.EleGiggle {
  width: 28px;
  height: 28px;
  background-position: -84px -208px;
}

.twitch.wagaMunch {
  width: 28px;
  height: 28px;
  background-position: -112px -208px;
}

.twitch.RitzMitz {
  width: 28px;
  height: 28px;
  background-position: -140px -208px;
}

.twitch.wagaHammer {
  width: 28px;
  height: 28px;
  background-position: -168px -208px;
}

.twitch.wagaTa {
  width: 28px;
  height: 28px;
  background-position: -196px -208px;
}

.twitch.YouWHY {
  width: 28px;
  height: 28px;
  background-position: -250px 0px;
}

.twitch.PipeHype {
  width: 28px;
  height: 28px;
  background-position: -250px -28px;
}

.twitch.BrokeBack {
  width: 28px;
  height: 28px;
  background-position: -250px -56px;
}

.twitch.aneleanele {
  width: 28px;
  height: 28px;
  background-position: -250px -84px;
}

.twitch.PanicVis {
  width: 28px;
  height: 28px;
  background-position: -250px -112px;
}

.twitch.UncleNox {
  width: 28px;
  height: 28px;
  background-position: -250px -140px;
}

.twitch.wagaDivine {
  width: 28px;
  height: 28px;
  background-position: -250px -168px;
}

.twitch.wagaSilence {
  width: 28px;
  height: 28px;
  background-position: -250px -196px;
}

.twitch.GrammarKing {
  width: 28px;
  height: 28px;
  background-position: 0px -236px;
}

.twitch.Volcania {
  width: 27px;
  height: 28px;
  background-position: -28px -236px;
}

.twitch.ThunBeast {
  width: 26px;
  height: 28px;
  background-position: -196px -180px;
}

.twitch.Kappa {
  width: 25px;
  height: 28px;
  background-position: -224px -208px;
}

.twitch.TheTarFu {
  width: 25px;
  height: 28px;
  background-position: -55px -236px;
}

.twitch.Kippa {
  width: 24px;
  height: 28px;
  background-position: -80px -236px;
}

.twitch.OMGScoots {
  width: 22px;
  height: 28px;
  background-position: -104px -236px;
}

.twitch.DogFace {
  width: 22px;
  height: 28px;
  background-position: -126px -236px;
}

.twitch.SwiftRage {
  width: 21px;
  height: 28px;
  background-position: -148px -236px;
}

.twitch.HassanChop {
  width: 19px;
  height: 28px;
  background-position: -169px -236px;
}

.twitch.BatChest {
  width: 18px;
  height: 28px;
  background-position: -188px -236px;
}

.twitch.TehFunrun {
  width: 27px;
  height: 27px;
  background-position: -206px -236px;
}

.twitch.SuperVinlin {
  width: 23px;
  height: 27px;
  background-position: -233px -236px;
}

.twitch.NoNoSpot {
  width: 23px;
  height: 27px;
  background-position: -278px 0px;
}

.twitch.PicoMause {
  width: 22px;
  height: 27px;
  background-position: -278px -27px;
}

.twitch.OptimizePrime {
  width: 22px;
  height: 27px;
  background-position: -278px -54px;
}

.twitch.KevinTurtle {
  width: 21px;
  height: 27px;
  background-position: -278px -81px;
}

.twitch.JKanStyle {
  width: 21px;
  height: 27px;
  background-position: -278px -108px;
}

.twitch.GingerPower {
  width: 21px;
  height: 27px;
  background-position: -278px -135px;
}

.twitch.BlargNaut {
  width: 21px;
  height: 27px;
  background-position: -278px -162px;
}

.twitch.CougarHunt {
  width: 21px;
  height: 27px;
  background-position: -278px -189px;
}

.twitch.JonCarnage {
  width: 20px;
  height: 27px;
  background-position: -278px -216px;
}

.twitch.StrawBeary {
  width: 20px;
  height: 27px;
  background-position: -256px -236px;
}

.twitch.StoneLightning {
  width: 20px;
  height: 27px;
  background-position: 0px -264px;
}

.twitch.TheRinger {
  width: 20px;
  height: 27px;
  background-position: -20px -264px;
}

.twitch.FPSMarksman {
  width: 20px;
  height: 27px;
  background-position: -40px -264px;
}

.twitch.OneHand {
  width: 20px;
  height: 27px;
  background-position: -60px -264px;
}

.twitch.Kreygasm {
  width: 19px;
  height: 27px;
  background-position: -80px -264px;
}

.twitch.FreakinStinkin {
  width: 19px;
  height: 27px;
  background-position: -99px -264px;
}

.twitch.RedCoat {
  width: 19px;
  height: 27px;
  background-position: -118px -264px;
}

.twitch.NinjaTroll {
  width: 19px;
  height: 27px;
  background-position: -137px -264px;
}

.twitch.EagleEye {
  width: 18px;
  height: 27px;
  background-position: -156px -264px;
}

.twitch.ArsonNoSexy {
  width: 18px;
  height: 27px;
  background-position: -174px -264px;
}

.twitch.PazPazowitz {
  width: 18px;
  height: 27px;
  background-position: -192px -264px;
}

.twitch.UleetBackup {
  width: 17px;
  height: 27px;
  background-position: -210px -264px;
}

.twitch.FuzzyOtterOO {
  width: 26px;
  height: 26px;
  background-position: -227px -264px;
}

.twitch.PunchTrees {
  width: 24px;
  height: 24px;
  background-position: -116px -64px;
}

.twitch.SSSsss {
  width: 24px;
  height: 24px;
  background-position: -253px -264px;
}

.twitch.SMSkull {
  width: 24px;
  height: 24px;
  background-position: -277px -264px;
}

.twitch.smiley-8 {
  width: 24px;
  height: 18px;
  background-position: -301px 0px;
}

.twitch.smiley-7 {
  width: 24px;
  height: 18px;
  background-position: -301px -18px;
}

.twitch.smiley-6 {
  width: 24px;
  height: 18px;
  background-position: -301px -36px;
}

.twitch.smiley-5 {
  width: 24px;
  height: 18px;
  background-position: -301px -54px;
}

.twitch.smiley-4 {
  width: 24px;
  height: 18px;
  background-position: -301px -72px;
}

.twitch.smiley-3 {
  width: 24px;
  height: 18px;
  background-position: -301px -90px;
}

.twitch.smiley-2 {
  width: 24px;
  height: 18px;
  background-position: -301px -108px;
}

.twitch.smiley-1 {
  width: 24px;
  height: 18px;
  background-position: -301px -126px;
}

.twitch.smiley-14 {
  width: 24px;
  height: 18px;
  background-position: -301px -144px;
}

.twitch.smiley-13 {
  width: 24px;
  height: 18px;
  background-position: -301px -162px;
}

.twitch.smiley-12 {
  width: 24px;
  height: 18px;
  background-position: -301px -180px;
}

.twitch.smiley-11 {
  width: 24px;
  height: 18px;
  background-position: -301px -198px;
}

.twitch.smiley-10 {
  width: 24px;
  height: 18px;
  background-position: -301px -216px;
}

.twitch.smiley-9 {
  width: 24px;
  height: 18px;
  background-position: -301px -234px;
}

.twitch.ItsBoshyTime {
  width: 18px;
  height: 18px;
  background-position: -301px -252px;
}

.twitch {
  display: inline-block;
  background: url( '../images/twitch-emoticons.png' ) no-repeat;
  background-size: 325px 291px;
}

.twitch.BloodTrail {
  width: 41px;
  height: 28px;
  background-position: 0px 0px;
}

.twitch.FrankerZ {
  width: 40px;
  height: 30px;
  background-position: 0px -28px;
}

.twitch.MrDestructoid {
  width: 39px;
  height: 27px;
  background-position: -41px 0px;
}

.twitch.BibleThump {
  width: 36px;
  height: 30px;
  background-position: -41px -27px;
}

.twitch.PJSalt {
  width: 36px;
  height: 30px;
  background-position: -80px 0px;
}

.twitch.RalpherZ {
  width: 33px;
  height: 30px;
  background-position: 0px -58px;
}

.twitch.SMOrc {
  width: 32px;
  height: 32px;
  background-position: -116px 0px;
}

.twitch.DansGame {
  width: 25px;
  height: 32px;
  background-position: -116px -32px;
}

.twitch.MVGame {
  width: 24px;
  height: 32px;
  background-position: 0px -88px;
}

.twitch.BionicBunion {
  width: 30px;
  height: 30px;
  background-position: -33px -58px;
}

.twitch.BrainSlug {
  width: 30px;
  height: 30px;
  background-position: -63px -58px;
}

.twitch.WinWaker {
  width: 30px;
  height: 30px;
  background-position: -24px -88px;
}

.twitch.EvilFetus {
  width: 29px;
  height: 30px;
  background-position: -54px -88px;
}

.twitch.HotPokket {
  width: 28px;
  height: 30px;
  background-position: -83px -88px;
}

.twitch.UnSane {
  width: 28px;
  height: 30px;
  background-position: -111px -88px;
}

.twitch.DatSheffy {
  width: 24px;
  height: 30px;
  background-position: -148px 0px;
}

.twitch.TriHard {
  width: 24px;
  height: 30px;
  background-position: -148px -30px;
}

.twitch.BigBrother {
  width: 24px;
  height: 30px;
  background-position: -148px -60px;
}

.twitch.AsianGlow {
  width: 24px;
  height: 30px;
  background-position: -148px -90px;
}

.twitch.SoBayed {
  width: 24px;
  height: 30px;
  background-position: 0px -120px;
}

.twitch.ShazBotstix {
  width: 24px;
  height: 30px;
  background-position: -24px -120px;
}

.twitch.FUNgineer {
  width: 24px;
  height: 30px;
  background-position: -48px -120px;
}

.twitch.TooSpicy {
  width: 23px;
  height: 30px;
  background-position: -93px -58px;
}

.twitch.PMSTwin {
  width: 23px;
  height: 30px;
  background-position: -72px -120px;
}

.twitch.SoonerLater {
  width: 23px;
  height: 30px;
  background-position: -95px -120px;
}

.twitch.PogChamp {
  width: 23px;
  height: 30px;
  background-position: -118px -120px;
}

.twitch.TF2John {
  width: 22px;
  height: 30px;
  background-position: -141px -120px;
}

.twitch.FailFish {
  width: 22px;
  height: 30px;
  background-position: -172px 0px;
}

.twitch.Poooound {
  width: 21px;
  height: 30px;
  background-position: -172px -30px;
}

.twitch.OpieOP {
  width: 21px;
  height: 30px;
  background-position: -172px -60px;
}

.twitch.Jebaited {
  width: 21px;
  height: 30px;
  background-position: -172px -90px;
}

.twitch.DBstyle {
  width: 21px;
  height: 30px;
  background-position: -172px -120px;
}

.twitch.smiley-15 {
  width: 20px;
  height: 30px;
  background-position: 0px -150px;
}

.twitch.RuleFive {
  width: 20px;
  height: 30px;
  background-position: -20px -150px;
}

.twitch.WholeWheat {
  width: 20px;
  height: 30px;
  background-position: -40px -150px;
}

.twitch.TinyFace {
  width: 19px;
  height: 30px;
  background-position: -60px -150px;
}

.twitch.BORT {
  width: 19px;
  height: 30px;
  background-position: -79px -150px;
}

.twitch.Keepo {
  width: 27px;
  height: 29px;
  background-position: -98px -150px;
}

.twitch.BCWarrior {
  width: 29px;
  height: 27px;
  background-position: -80px -30px;
}

.twitch.wagaCrit {
  width: 28px;
  height: 28px;
  background-position: -125px -150px;
}

.twitch.wagaRosh {
  width: 28px;
  height: 28px;
  background-position: -153px -150px;
}

.twitch.PeoplesChamp {
  width: 28px;
  height: 28px;
  background-position: -194px 0px;
}

.twitch.noScope420 {
  width: 28px;
  height: 28px;
  background-position: -194px -28px;
}

.twitch.SriHead {
  width: 28px;
  height: 28px;
  background-position: -194px -56px;
}

.twitch.DAESuppy {
  width: 28px;
  height: 28px;
  background-position: -194px -84px;
}

.twitch.AtGL {
  width: 28px;
  height: 28px;
  background-position: -194px -112px;
}

.twitch.NightBat {
  width: 28px;
  height: 28px;
  background-position: -194px -140px;
}

.twitch.KAPOW {
  width: 28px;
  height: 28px;
  background-position: 0px -180px;
}

.twitch.AtIvy {
  width: 28px;
  height: 28px;
  background-position: -28px -180px;
}

.twitch.WTRuck {
  width: 28px;
  height: 28px;
  background-position: -56px -180px;
}

.twitch.shazamicon {
  width: 28px;
  height: 28px;
  background-position: -84px -180px;
}

.twitch.MechaSupes {
  width: 28px;
  height: 28px;
  background-position: -112px -180px;
}

.twitch.PJHarley {
  width: 28px;
  height: 28px;
  background-position: -140px -180px;
}

.twitch.GasJoker {
  width: 28px;
  height: 28px;
  background-position: -168px -180px;
}

.twitch.Shazam {
  width: 28px;
  height: 28px;
  background-position: -222px 0px;
}

.twitch.AtWW {
  width: 28px;
  height: 28px;
  background-position: -222px -28px;
}

.twitch.TheThing {
  width: 28px;
  height: 28px;
  background-position: -222px -56px;
}

.twitch.KZskull {
  width: 28px;
  height: 28px;
  background-position: -222px -84px;
}

.twitch.KZowl {
  width: 28px;
  height: 28px;
  background-position: -222px -112px;
}

.twitch.KZhelghast {
  width: 28px;
  height: 28px;
  background-position: -222px -140px;
}

.twitch.KZcover {
  width: 28px;
  height: 28px;
  background-position: -222px -168px;
}

.twitch.KZguerilla {
  width: 28px;
  height: 28px;
  background-position: 0px -208px;
}

.twitch.KZassault {
  width: 28px;
  height: 28px;
  background-position: -28px -208px;
}

.twitch.ResidentSleeper {
  width: 28px;
  height: 28px;
  background-position: -56px -208px;
}

.twitch.EleGiggle {
  width: 28px;
  height: 28px;
  background-position: -84px -208px;
}

.twitch.wagaMunch {
  width: 28px;
  height: 28px;
  background-position: -112px -208px;
}

.twitch.RitzMitz {
  width: 28px;
  height: 28px;
  background-position: -140px -208px;
}

.twitch.wagaHammer {
  width: 28px;
  height: 28px;
  background-position: -168px -208px;
}

.twitch.wagaTa {
  width: 28px;
  height: 28px;
  background-position: -196px -208px;
}

.twitch.YouWHY {
  width: 28px;
  height: 28px;
  background-position: -250px 0px;
}

.twitch.PipeHype {
  width: 28px;
  height: 28px;
  background-position: -250px -28px;
}

.twitch.BrokeBack {
  width: 28px;
  height: 28px;
  background-position: -250px -56px;
}

.twitch.aneleanele {
  width: 28px;
  height: 28px;
  background-position: -250px -84px;
}

.twitch.PanicVis {
  width: 28px;
  height: 28px;
  background-position: -250px -112px;
}

.twitch.UncleNox {
  width: 28px;
  height: 28px;
  background-position: -250px -140px;
}

.twitch.wagaDivine {
  width: 28px;
  height: 28px;
  background-position: -250px -168px;
}

.twitch.wagaSilence {
  width: 28px;
  height: 28px;
  background-position: -250px -196px;
}

.twitch.GrammarKing {
  width: 28px;
  height: 28px;
  background-position: 0px -236px;
}

.twitch.Volcania {
  width: 27px;
  height: 28px;
  background-position: -28px -236px;
}

.twitch.ThunBeast {
  width: 26px;
  height: 28px;
  background-position: -196px -180px;
}

.twitch.Kappa {
  width: 25px;
  height: 28px;
  background-position: -224px -208px;
}

.twitch.TheTarFu {
  width: 25px;
  height: 28px;
  background-position: -55px -236px;
}

.twitch.Kippa {
  width: 24px;
  height: 28px;
  background-position: -80px -236px;
}

.twitch.OMGScoots {
  width: 22px;
  height: 28px;
  background-position: -104px -236px;
}

.twitch.DogFace {
  width: 22px;
  height: 28px;
  background-position: -126px -236px;
}

.twitch.SwiftRage {
  width: 21px;
  height: 28px;
  background-position: -148px -236px;
}

.twitch.HassanChop {
  width: 19px;
  height: 28px;
  background-position: -169px -236px;
}

.twitch.BatChest {
  width: 18px;
  height: 28px;
  background-position: -188px -236px;
}

.twitch.TehFunrun {
  width: 27px;
  height: 27px;
  background-position: -206px -236px;
}

.twitch.SuperVinlin {
  width: 23px;
  height: 27px;
  background-position: -233px -236px;
}

.twitch.NoNoSpot {
  width: 23px;
  height: 27px;
  background-position: -278px 0px;
}

.twitch.PicoMause {
  width: 22px;
  height: 27px;
  background-position: -278px -27px;
}

.twitch.OptimizePrime {
  width: 22px;
  height: 27px;
  background-position: -278px -54px;
}

.twitch.KevinTurtle {
  width: 21px;
  height: 27px;
  background-position: -278px -81px;
}

.twitch.JKanStyle {
  width: 21px;
  height: 27px;
  background-position: -278px -108px;
}

.twitch.GingerPower {
  width: 21px;
  height: 27px;
  background-position: -278px -135px;
}

.twitch.BlargNaut {
  width: 21px;
  height: 27px;
  background-position: -278px -162px;
}

.twitch.CougarHunt {
  width: 21px;
  height: 27px;
  background-position: -278px -189px;
}

.twitch.JonCarnage {
  width: 20px;
  height: 27px;
  background-position: -278px -216px;
}

.twitch.StrawBeary {
  width: 20px;
  height: 27px;
  background-position: -256px -236px;
}

.twitch.StoneLightning {
  width: 20px;
  height: 27px;
  background-position: 0px -264px;
}

.twitch.TheRinger {
  width: 20px;
  height: 27px;
  background-position: -20px -264px;
}

.twitch.FPSMarksman {
  width: 20px;
  height: 27px;
  background-position: -40px -264px;
}

.twitch.OneHand {
  width: 20px;
  height: 27px;
  background-position: -60px -264px;
}

.twitch.Kreygasm {
  width: 19px;
  height: 27px;
  background-position: -80px -264px;
}

.twitch.FreakinStinkin {
  width: 19px;
  height: 27px;
  background-position: -99px -264px;
}

.twitch.RedCoat {
  width: 19px;
  height: 27px;
  background-position: -118px -264px;
}

.twitch.NinjaTroll {
  width: 19px;
  height: 27px;
  background-position: -137px -264px;
}

.twitch.EagleEye {
  width: 18px;
  height: 27px;
  background-position: -156px -264px;
}

.twitch.ArsonNoSexy {
  width: 18px;
  height: 27px;
  background-position: -174px -264px;
}

.twitch.PazPazowitz {
  width: 18px;
  height: 27px;
  background-position: -192px -264px;
}

.twitch.UleetBackup {
  width: 17px;
  height: 27px;
  background-position: -210px -264px;
}

.twitch.FuzzyOtterOO {
  width: 26px;
  height: 26px;
  background-position: -227px -264px;
}

.twitch.PunchTrees {
  width: 24px;
  height: 24px;
  background-position: -116px -64px;
}

.twitch.SSSsss {
  width: 24px;
  height: 24px;
  background-position: -253px -264px;
}

.twitch.SMSkull {
  width: 24px;
  height: 24px;
  background-position: -277px -264px;
}

.twitch.smiley-8 {
  width: 24px;
  height: 18px;
  background-position: -301px 0px;
}

.twitch.smiley-7 {
  width: 24px;
  height: 18px;
  background-position: -301px -18px;
}

.twitch.smiley-6 {
  width: 24px;
  height: 18px;
  background-position: -301px -36px;
}

.twitch.smiley-5 {
  width: 24px;
  height: 18px;
  background-position: -301px -54px;
}

.twitch.smiley-4 {
  width: 24px;
  height: 18px;
  background-position: -301px -72px;
}

.twitch.smiley-3 {
  width: 24px;
  height: 18px;
  background-position: -301px -90px;
}

.twitch.smiley-2 {
  width: 24px;
  height: 18px;
  background-position: -301px -108px;
}

.twitch.smiley-1 {
  width: 24px;
  height: 18px;
  background-position: -301px -126px;
}

.twitch.smiley-14 {
  width: 24px;
  height: 18px;
  background-position: -301px -144px;
}

.twitch.smiley-13 {
  width: 24px;
  height: 18px;
  background-position: -301px -162px;
}

.twitch.smiley-12 {
  width: 24px;
  height: 18px;
  background-position: -301px -180px;
}

.twitch.smiley-11 {
  width: 24px;
  height: 18px;
  background-position: -301px -198px;
}

.twitch.smiley-10 {
  width: 24px;
  height: 18px;
  background-position: -301px -216px;
}

.twitch.smiley-9 {
  width: 24px;
  height: 18px;
  background-position: -301px -234px;
}

.twitch.ItsBoshyTime {
  width: 18px;
  height: 18px;
  background-position: -301px -252px;
}


